@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("capistranorb.com") {
  body {
    background: #333; /* main background color */
    color: #CCC; /* main text */
  }

  code {
    color: #BA0; /* inline code blocks */
  }

  h1, h2, h3, h4, h5, h6 {
    color: #57A;
  }

  .highlight {
    background: #555; /* a boxy border surrounding block quotes and block code */
  }
}
