@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("gitlab.com") {
  
  * {
    line-height: 1.1 !important;
    border: none !important;
  }
  .btn {
    padding: 2px 3px;
  }
  
  /* left side bar */
  .nav-sidebar a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 2px !important;
  }
  .nav-sidebar {
    margin-top: 58px !important;
  }
  li.separate-item {
    margin-top: 4px !important;
    padding-top: 4px !important;
  }
  #logo, #js-shortcuts-home, button.navbar-toggle {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  a.sidebar-user img {
    display:none;
  }
  a.sidebar-user {
    padding: 2px 4px !important;
  }
  .collapse-nav a {
    height: 20px !important;
  }
  ul.nav-sidebar {
    margin-top: 26px !important;
  }
  .sidebar-wrapper .sidebar-user {
    bottom: 20px !important;
  }
  
  /* header and top nav*/
  header.navbar-gitlab .container-fluid .nav > li > a {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
  }
  #search {
    padding: 2px !important;
    height: 20px !important;
  }
  header.navbar-gitlab {
    min-height: 26px !important;
    height: 26px !important;
  }
  a#logo {
    display: none !important;
  }
  a#js-shortcuts-home {
    padding-left: 0 !important;
    height: 26px !important;
  }
  .header-logo {
    height: 26px !important;
  }
  .header-logo h3 {
    margin-left: 34px !important;
  }
  ul.navbar-nav, ul.navbar-nav li {
    height: 26px !important;
  }
  ul.navbar-nav li a { 
    margin-top: 6px !important;
    margin-bottom: 7px !important;
  }
  .header-logo, h1.title, #logo, #js-shortcuts-home, .header-content {
    height: 26px !important;
  }
  .navbar-gitlab {
    min-height: 26px !important;
    height: 26px !important;
  }
  
  /* into main content */
  
  
  .page-with-sidebar{
    padding-top: 26px !important;
    padding-right: 4px !important;
  }
  h1.title {
    line-height: 26px !important;
  }
  
  .page-gutter {
    padding-top: 26px !important;
  }
  
  .search {
    margin-top: 2px !important;
  }
  
  .detail-page-header {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .detail-page-description {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .content-wrapper .container-fluid {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  
  .container-limited {
    max-width: unset !important;
  }
  
  .prepend-top-default {
    display: none;
  }
  
  .mr-widget-body, .ci_widget {
    padding: 4px !important;
  }
  
  .file-holder .file-title {
    border-bottom: none;
    padding: 0 4px;
  }
  
  .file-actions .btn-clipboard {
    padding: 0px 4px;
    font-size: 13px;
    line-height: 14px;
  }

  
 
  .merge-request-tabs, .merge-request-tabs li {
    height: 28px;
    border: none;
  }
  .merge-request-tabs li a {
    padding-top: 2px;
    padding-bottom: 0;
    color: blue;
    text-decoration: none;
    border: none !important;
  }
  .merge-request-tabs li.active a { 
    text-decoration: underline;
  }
  .merge-request-tabs li a:hover {
    text-decoration: underline;
  }
  
  .content-block {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  /* right sidebar */
  aside {
    display: none;
  }
  
  /* notes */
  .discussion-body .notes .note, .diff-file .notes .note {
    border-color: #ddd;
    padding: 2px 4px;
  }
  .timeline-icon {
    display: none;
  }
  .note-header .note-role {
    display: none;
  }
  .notes_content {
    padding-bottom: 0 !important;
    padding-left: 2px !important;
  }
  .discussion-reply-holder button {
    margin: 1px;
  }
}
