@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("news.nationalpost.com") {
   #gregbox-outer {
    display: none;
  }

  #gregbox-signInTab {
    display: none;
  }

  #gregbox-closeBtn {
    display: none;
  }

  div[style*="background-image: url"] {
    display: none !important;
  }
}
