@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https\:\/\/.*\.slack\.com\/messages.*") {
  /*
  primary: #1A1C1B
  secondary: #0B3136
  borders: #114374
  font: #4682B4
  link: #99d04a
  highlight: #ff876d
  */

  /* Header */
  #channel_header_info,
  .channel_title_info,
  .flex_header {
    background: #1A1C1B !important;
  }
  #im_title,
  .channel_name,
  .topic {
    color: #4682B4 !important;
  }
  .name .prefix,
  #details_toggle,
  #recent_mentions_toggle,
  #stars_toggle,
  #flex_menu_toggle {
    color: #0B3136 !important;
  }
  #search_terms {
    border-color: #114374;
    color: #4682B4;
  }

  /* Side Bar */
  #team_menu,
  #col_channels,
  #quick_switcher_btn {
    background: #1A1C1B !important;
  }
  #team_name,
  #current_user_name,
  #channels_scroller h2,
  #channels_scroller a span,
  #channel_list_invites_link,
  #quick_switcher_label {
    color: #4682B4;
  }
  #monkey_scroll_wrapper_for_channels_scroller {
    border-right: 1px solid #114374;
  }
  #quick_switcher_btn {
    border-right: 1px solid #114374;
  }

  /* Content */
  body,
  #client_body::before,
  .day_divider,
  #footer,
  #message-input {
    background: #1A1C1B !important;
  }
  .light_theme ts-message .message_content .message_sender,
  .timestamp,
  .message_body,
  .comment,
  #message-input {
    color: #4682B4 !important;
  }
  .day_divider_label {
    background: #1A1C1B !important;
    color: #114374 !important;
  }
  .attachment_bar {
    background: #114374 !important;
  }
  .action_hover_container a {
    border: 1px solid;
    border-color: #114374 !important;
    background: #1A1C1B !important;
  }
  #msgs_unread_divider .divider_label {
    background: #1A1C1B !important;
    color: #4682B4 !important;
  }
  #special_formatting_text {
    color: #4682B4 !important;
  }
  #typing_text {
    color: #4682B4 !important;
  }
  #msgs_div .unread_divider.adjacent_to_date {
    background: #1A1C1B !important;
  }

  /* Menus */
  .menu,
  .menu #monkey_scroll_wrapper_for_menu_items_scroller,
  .popover_menu .content {
    background: #1A1C1B !important;
  }
  #msgs_div ts-message.active {
    background: #0B3136 !important;
  }
  #autocomplete_menu.search_menu header,
  #autocomplete_menu.search_menu .muted_text {
    color: #4682B4 !important;
  }
  #autocomplete_menu.search_menu strong {
    color: #0B3136 !important;
  }
  #autocomplete_menu.search_menu header .header_label::before,
  #autocomplete_menu.search_menu ol::before {
    background: #0B3136 !important;
  }

  /* Borders */
  #team_menu,
  #quick_switcher_btn,
  #primary_file_button,
  #message-input,
  .menu,
  .menu.submenu,
  .menu .divider,
  #search_autocomplete_popover {
    border-color: #114374 !important;
  }
  .day_divider hr {
    border: 1px solid #114374;
  }
  #team_menu {
    border-right: 1px solid;
    border-bottom-style: none;
  }
  #quick_switcher_btn {
    border-right: 1px solid;
    border-top-style: none;
  }

  /* Scrollbars */
  .monkey_scroll_handle_inner {
    background: #1A1C1B !important;
    border: 3px solid #114374 !important;
  }
  #monkey_scroll_wrapper_for_msgs_scroller_div .monkey_scroll_bar {
    background: #1A1C1B !important;
  }

  /* Highlights */
  .mention {
    background: #1A1C1B !important;
  }
  li.active a,
  ts-message:hover,
  #primary_file_button {
    background: #0B3136 !important;
  }
  .mention,
  #col_channels li.unread a span {
    color: #ff876d !important;
  }

  /* Fonts */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  code,
  pre {
    background: black;
    border: 1px solid #114374;
    font-family: "Inconsolata", consolas, monospace;
    font-size: 1.1em !important;
    line-height: 1.1em !important;
  }
  pre {
    color: #4682B4;
  }
  #channels_scroller,
  .day_divider,
  .message_gutter a.timestamp,
  .message_sender,
  .message_body {
    font-family: 'OpenSans', sans-serif !important;
  }
  a:link,
  a:visited {
    color: #99d04a;
  }
}
