@-moz-document domain("waffle.io") {
  .column{
    background: #f9f9f9 !important;
    border-right: 1px solid #ccc !important;
  }
  .column-body{
    padding: 0px !important;
  }
  .column-header{
    background: #333 !important;
    color: white !important;
  }

  .card{
    border: 1px solid #dedede !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
  }
  .card textarea {
    border: 0 !important;
    color: white !important;
    background: #333 !important;
  }
  .card:last-child{
    border-bottom: 1px !important;
  }
  body, .card, .card .title{
    font-family: 'helvetica', arial, sans-serif !important;
  }


  .card-header{
    background: #333 !important;
    height: 30px !important;
    padding: 5px !important;
  }
  .card-header:hover{
    background: #555 !important;
  }
  .source-name{
    color: rgba(255,255,255,0.7) !important;
  }
  .card-header-size{
    margin-top: 1px !important;
    right: 50px !important;
  }
  .card-number{
    font-weight: bold !important;
    color: white !important;
  }
  .card-body {
    color: white !important;
    background: #333 !important
  }
  .card-body .title{
    padding-right: 30px !important;
  }
  .card-body .footer{
    opacity: .5 !important;
  }
  .card-body .footer:hover{
    opacity: 1 !important;
  }

  .card-pr-list{
    background: #333 !important;
    color: white !important;
    margin: 0 !important;
    box-shadow: none !important;
  }


  .board .card .card-header .assignee-icon.assigned{
    top: 0 !important;
    right: 0 !important;
  }
  .assigned img{
    box-shadow: none !important;
  }

  .assignee-icon.unassigned{
    background: none !important;
  }
  .assignee-icon.unassigned img{
    top: 5px !important;
    right: 5px !important;
    box-shadow: none !important;
  }

  div.header-nav {
    background: #333 !important;
  }

  div.column-body {
    background: #555 !important;
  }
  div.column-description {
    color: #EEE !important;
  }

}