@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.youtube.com") {
  
  /* this makes sure you can still see how long the video is */
  .accessible-description {
    display: unset !important;
  }
  
  /* get rid of all the damn thumbnails */
  .thumb-wrapper {
    display: none !important;
  }
  
  /* make sure the sidebar is at the right height */
  #watch7-sidebar {
    margin-top: unset !important;
  }
  
  /* push over the content now that the thumbs are gone */
  .content-wrapper {
    margin-left: 0 !important;
  }
  
  .yt-thumb { display: none !important; }
  
  #player-api { height: 50px !important; min-height: 0 !important;}
  #movie-player { height: 50px !important; min-height: 0 !important;}
  .html5-video-container { display: none !important;}
  .video-stream { display: none;}
  .ytp-iv-video-content { display: none;}
  .player-height {height: 50px !important;  min-height: 0 !important;}
  
  #watch-discussion { display: none; }
  
  #footer-container { display: none; }
  
  #body-container { padding-bottom: 0 }
  
  .watch-sidebar { margin-top: 50px !important; }
  
  /* force video controls to always be visible */
  .ytp-chrome-bottom {
    opacity: 1.0 !important;
  }
}
